#about p {
  font-size: 1.4rem;
}

#about address {
  display: flex;
  flex-grow: 1;

  align-items: center;
  justify-content: center;

  min-height: 64px;
}

#about {
  grid-area: about;
  height: auto;
}

#contact {
  text-align: center;
}

#platforms li {
  list-style-type: none;
}

#platforms > * {
  display: inline-flex;
  padding: 0;
}

#platforms li:not(:last-child):after {
  padding: 4px;
  content: "/";
}
