<h2 data-l10n="about-title">
  About
</h2>

<p data-l10n="about-content">
  I am a <strong>full-stack consultant</strong> specialized in web applications made with <strong>ReactJS</strong> based in <strong>Montreal</strong>. Since I obtained my master of computer science at the UQAC in 2016, I enginered, architected, implemented and maintained multiple web applications and I want to share these 8 years of experience for concrete needs.
</p>

<article id="platforms">
  <p data-l10n="about-platforms">
    Follow me on the plateforms:
  </p>
  <a href="https://gitlab.com/vlnk">
    Gitlab
  </a>
  /
  <a href="https://github.com/vlnk">
    Github
  </a>
  /
  <a href="https://www.linkedin.com/in/valrnt/">
    LinkedIn
  </a>
</article>

<address id="contact">
  <a href="mailto:allo@numeriphare.com"
     title='New request'
     role="button"
     data-l10n="about-contact"
     template="/templates/Request.md">
    Get in touch
  </a>
</address>
