@import url('https://fonts.cdnfonts.com/css/alef');
@import url('/styles/fonts/DINdong.css');
@import url('/styles/fonts/RadioCanada.css');

html {
  font-family: "RadioCanada";
  font-size: 100%;
  color: var(--secondary-text-color);
}

header, footer, h1, h2, h3 {
  font-family: "DINdong";
  color: var(--primary-text-color);
}

h1 {
  text-transform: capitalize;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 0.2rem;
}

h1 {
  font-weight: 400;
  font-size: 4rem;
}

h3 {
  font-weight: 300;
  font-size: 1.5rem;
  text-decoration-line: underline;
}

strong {
  background-color: var(--primary-text-color);
  color: var(--background-color);
  padding: 1px;
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-size: 2rem;
}

address {
  font-style: normal;
}

p, article {
  font-size: 1.25rem;
}

a[href] {
  color: var(--primary-text-color);
  text-decoration: underline;
}

/* < vertical mobile display */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }

  h2, h3, nav {
    font-size: 1.5rem !important;
  }

  footer * {
    font-size: 1rem;
  }
}
