html {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 100%;
  background-color: var(--background-color);
}

body {
  width: 80%;
  height: 100%;

  display: grid;
  grid-template-areas: "header"
                       "main"
                       "footer";
  grid-column-gap: 64px;
  grid-row-gap: 16px;

  margin-top: 32px;
  max-width: 1600px;
}

nav > ul {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;

  list-style: none;
}

/* < vertical tablet display */
@media screen and (max-width: 320px) {
  #numeriphare-logo object {
    display: none;
  }
}

/* < vertical tablet display */
@media screen and (max-width: 992px) {
  body {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }

  aside {
    display: none !important;
  }

  main {
    grid-template-areas: "about"
                         "manifesto"
                         "portfolio";
    grid-row-gap: 32px;
  }

  footer {
    margin-top: 32px;
  }
}

/* < vertical tablet display */
@media screen and (min-height: 1600px) {
  html {
    justify-content: center;
  }
}

main {
  grid-area: main;
  display: grid;
}

@media screen and (min-width: 992px) {
  main {
    grid-template-columns: 1.25fr 0.75fr;
    grid-template-rows: max-content max-content;
    grid-template-areas: "about manifesto"
                         "portfolio portfolio";
    grid-gap: 8px;
  }
}

section {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  height: max-content;
}
