:root {
  --dark-background-color: #4a4a4a;
  --dark-primary-text-color: #bbcdff;
  --dark-secondary-text-color: #efefef;

  --light-background-color: #efefef;
  --light-primary-text-color: #5259cc;
  --light-secondary-text-color: #4a4a4a;
}

html[data-theme='dark'] {
  --background-color: var(--dark-background-color);
  --primary-text-color: var(--dark-primary-text-color);
  --secondary-text-color: var(--dark-secondary-text-color);
}

html[data-theme='light'] {
  --background-color: var(--light-background-color);
  --primary-text-color: var(--light-primary-text-color);
  --secondary-text-color: var(--light-secondary-text-color);
}
