@font-face {
    font-family: 'DINdong';
    src: url('https://numeriphare-website-assets.sfo3.cdn.digitaloceanspaces.com/fonts/DINdong/DINdong.eot');
    src: url('https://numeriphare-website-assets.sfo3.cdn.digitaloceanspaces.com/fonts/DINdong/DINdong.woff') format('woff'),
         url('https://numeriphare-website-assets.sfo3.cdn.digitaloceanspaces.com/fonts/DINdong/DINdong.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
