@font-face {
  font-family: 'RadioCanada';
  src: url('https://numeriphare-website-assets.sfo3.cdn.digitaloceanspaces.com/fonts/RadioCanada/RadioCanada-VariableFont_wdth,wght.ttf') format("truetype-variations");
  font-weight: normal;
  font-style: normal;
}
