header {
    position: relative;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

@media screen and (max-width: 992px) {
  header {
    flex-direction: column;
    align-items: end;
  }
}

header > h3 {
    width: 100%;
    text-align: right;
}

nav {
  font-size: 24px;
}

#numeriphare-logo {
  display: flex;
  flex-direction: row;

  column-gap: 8px;
  align-items: center;
}

#numeriphare-logo object {
  height: 96px;
}

header a[onclick] {
  text-decoration: underline;
  cursor: pointer;
}
