<div id="numeriphare-logo">
  <object id="lighthouse-frame"
          type="image/svg+xml">
  </object>
  <h1>Numériphare</h1>
</div>

<nav role="menubar"
     id="lang-selector">
  <ul>
    <li>
      <a role="menuitem"
         hreflang="fr">
        fr
      </a>
    </li>
    <span role="separator">/</span>
    <li>
      <a role="menuitem"
         hreflang="en">
        en
      </a>
    </li>
  </ul>
</nav>

<script type="module">
  window.injectLighthouse(
      'https://numeriphare-website-assets.sfo3.cdn.digitaloceanspaces.com/'
  )
</script>
