<p>&copy; Numériphare <time>2022</time></p>

<nav role="menubar"
     id="theme-selector">
  <ul>
    <li>
      <a role="menuitem"
         data-theme="light"
         data-l10n="theme-light"
         onclick="window.setLocalTheme('light')">
        light
      </a>
    </li>
    <span role="separator">/</span>
    <li>
      <a role="menuitem"
         data-theme="dark"
         data-l10n="theme-dark"
         onclick="window.setLocalTheme('dark')">
        dark
      </a>
    </li>
  </ul>
</nav>

<script type="module" src="/modules/themes.js"></script>
