#portfolio {
  grid-area: portfolio;
}

#portfolio article {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.reference {
  font-style: italic;
}

@media screen and (max-width: 992px) {
  #portfolio-articles {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
}

@media screen and (min-width: 992px) {
  #portfolio-articles {
    display: grid;
    grid-gap: 16px;

    grid-template-columns: 1fr 1fr;
  }

  #portfolio details {
    margin-top: 16px;
  }

  #portfolio-bibliolab {
    grid-row: 1;
    grid-column: 2;
  }

  #portfolio-telharmonium {
    grid-row: 2;
    grid-column: 2;
  }

  #portfolio-scenic {
    grid-row: 1 / 3;
    grid-column: 1;
  }
}
