<h2 data-l10n="portfolio-title">
  Portfolio
</h2>

<div id="portfolio-articles">
  <article id="portfolio-bibliolab">
    <h3 data-l10n="bibliolab-title">
      Bibliolab
    </h3>
    <p data-l10n="bibliolab-description">
      When I start my front-end development work at the SAT, I analyse and shape an <strong>ReactJS interface</strong> in order to experiment the use of telepresence systems in public libraries.
    </p>
    <p class="reference"
       data-l10n="bibliolab-references">
      Read <a href="https://www.ledevoir.com/culture/539824/mot-cle-bibliolab-en-co-presence-de-l-artiste">Le Devoir's article</a> and <a href="https://vimeo.com/310599343?embedded=true&source=video_title&owner=885308">see the system in action</a>.
    </p>
  </article>

  <article id="portfolio-telharmonium">
    <h3 data-l10n="telharmonium-title">
      Telharmonium Web
    </h3>
    <p data-l10n="telharmonium-description">
      I worked with the collectif <a href="http://menardstamand.com">Ménard St-Amand</a> in order to improve and extend their web-application <a href="http://menardstamand.com/#/applications/telharmonium">Telharmonium Web</a> made with <strong>Vue.js</strong>. This application recrates their sound installations <em>Telharmonium</em> and <em>On/Off</em>.
    </p>
  </article>

  <article id="portfolio-scenic">
    <h3>
      <a href="https://telepresence-scenic.ca/"
         data-l10n="scenic-title">
        Téléprésence Scenic
      </a>
    </h3>
    <p data-l10n="scenic-description1">
      I lead the development of the UI rewriting with <strong>ReactJS</strong> of the telepresence interface named scenic. It is a key part of the open-sourced and  innovative tools I developed and maintained since 2018 at the <a href="https://sat.qc.ca/">Society of art and technologies (SAT)</a>, a non-profit artistic entity based in Montreal.
    <p/>
    <p data-l10n="scenic-description2">
      I also worked with the <strong>C++</strong> and <strong>Python</strong> languages at the <em>Valorisation de la recherche</em> department to build systems that controls real-time transmissions of high-quality audiovisual streams. We help the production of distributed shows such as <a href="https://montreal.ca/evenements/bluff-34464">Bluff</a> that was simultaneously played in three places in the same time.
    </p>
    <p data-l10n="scenic-description3">
      Now, I endorse the role of <strong>Product Owner</strong> by preparing the futur of Scenic and by shaping a new artistic medium: <a href="https://sat.qc.ca/fr/plancher-haptique">the haptic floor</a>. It brings the power of the haptic technologies for the new kind of artistic performances.
    </p>
    <p class="reference"
       data-l10n="scenic-references">
      Sources: <a href="https://gitlab.com/sat-mtl/tools/scenic/scenic">scenic</a> / <a href="https://gitlab.com/sat-mtl/tools/switcher">switcher</a> / <a href="https://gitlab.com/sat-mtl/tools/switcher">scenic-core</a> / <a href="https://gitlab.com/sat-mtl/tools/ui-components">ui-components</a>
    </p>
</details>
</article>
</div>
