@import '/styles/themes.css';
@import '/styles/layout.css';
@import '/styles/main.css';
@import '/styles/fonts.css';
@import '/styles/button.css';

@import '/components/header/header.css';
@import '/components/about/about.css';
@import '/components/manifesto/manifesto.css';
@import '/components/portfolio/portfolio.css';
@import '/components/footer/footer.css';

/* clean all default ul style */
ul {
  list-style-type: disc;
  padding: 0;
}

/* clean all default margins and paddings */
h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}
