#manifesto {
  grid-area: manifesto;

  padding: 16px;

  border: 2px dashed var(--primary-text-color);
  border-radius: 32px;
}

#manifesto li {
  list-style-type: none;

  display: flex;
  flex-direction: row;

  column-gap: 8px;
  align-items: start;
}

#manifesto ul {
  columns: 1;
}

.manifesto-icon {
  margin-top: 4px;
}
