<h2 data-l10n="manifesto-title">
  Manifesto
</h2>

<p data-l10n="manifesto-intro">
  I focus my work on some guidelines:
</p>

<ul>
  <li>
    <div class="manifesto-icon">
      👥
    </div>
    <p data-l10n="manifesto-item0">
      Making accessible web services for communities.
    </p>
  </li>
  <li>
    <div class="manifesto-icon">
      ♻
    </div>
    <p data-l10n="manifesto-item1">
      Providing sustainable and maintanable platforms.
    </p>
  </li>
  <li>
    <div class="manifesto-icon">
      🚩
    </div>
    <p data-l10n="manifesto-item2">
      Encouraging the autonomy of my partners with formations.
    </p>
  </li>
  <li>
    <div class="manifesto-icon">
      🚸
    </div>
    <p data-l10n="manifesto-item3">
      Privileging empathy over rentability.
    </p>
  </li>
  <li>
    <div class="manifesto-icon">
      🌱
    </div>
    <p data-l10n="manifesto-item4">
      Constantly reducing the ecological fingerprint of my services.
    </p>
  </li>
</ul>
